@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

body{
    background-image: url(../smile.png);
    font-family: 'Nunito', sans-serif;
}
.container{
    background-color: #fff;
    border-radius: 30px;
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 0 auto;
    margin-top: 50px
}
p{
    font-size: 20px;
}
label{
    font-size: 18px;
    margin-top: 20px;
}
.input{
    display: flex;
    flex-direction: column;
}
.input input{
    border-radius: 50px;
    border: none;
    border: 2px solid #FF66C4;
    padding: 8px;
    font-size: 18px;
}
.input input::placeholder{
    color: rgba(148, 146, 146, 0.452);
}
.button{
    background-color: #FF66C4;
    border: none;
    border: 7px solid #FCFF60;
    border-radius: 30px;
    margin: 50px 0; 
    cursor: pointer;
    font-size: 18px;
}
#resultado{
    height: 100px;
    margin-bottom: 100px;
}